  mat-toolbar{
    background: #185BB2;
    height: 70px;
  }
  .main-logo {
    height: 32px;
  }
  .searchbar{
      float:right;
      margin-top: 8px;
     /* margin-right: 16px; */
    font-size: 14px;
    height:37px;
    padding:8px;
    width:500px;
    border: 1px solid #185BB2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0px;
  }
  i{
    margin-left:70px;
  }
  p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    width: 179px;
    height: 47px;
    left: 40px;
    top: 10px;
    font-size: 30px;
    line-height: 47px;
    color:#ffffff;
    }
    #Id1{
      position: absolute;
      width: 235px;
      height: 28px;
      left: 500px;
      top: 20px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      
      color: #FFFFFF;
    }

  .dropdown{
    width:180px;
    background-color: #185BB2;
    font-size:15px;
    text-align: center; 
    color: white;
    border:0px;
      outline:0px;
   }
     span{
       width: 100%;
       text-align: center; 
     }
   
.breadcrumbs{
  margin-left: auto;
  margin-right: auto;
  height:40px;
  background-color: none;
  padding-left: 20px;

}
     mat-icon{
      color:#185BB2;
      /* border: 1px solid black; */
      height: 15px;
      width: 15px;
      float:right;
      margin-right:40px;
      cursor: pointer;
  }
button{
    height:40px;
    width:100px;
 background-color: #185BB2;
 color: white;
}
table {
  width: 100%;
  background-color:whitesmoke;
  cursor: pointer;
}
.table-panel {
  padding-top: 1.2%;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
.table-scroll{
  height:calc(100vh - 220px);
  overflow-x: auto;
}
td{
  font-size: 12px;
}
.mat-elevation-z8 {
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .12), 0 1px 1px 1px rgba(0, 0, 0, .14), 0 1px 1px 1px rgba(0, 0, 0, .12);
}
th{
  background-color:grey;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
th.mat-sort-header-sorted {
  color: black;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #708090 !important;
}
::-webkit-scrollbar {
  width: 8px;
} 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #98AFC7; 
} 
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #98AFC7; 
}

#childTable{
  width:100%;
  /* border: 1px solid black;
  border-bottom: 1x solid black; */
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}  
 
input[type='checkbox'] {
  display: none;
}
.lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  border-bottom-style:none !important;
}
