<mat-toolbar>
  <a class="navbar-brand" routerLink="">
    <p class="logo">Equilibria</p>
  </a>
 
  <span>
      <select class="dropdown" onchange="window.location.href=this.value;" id="Id1" >
          <option value="http://localhost:4200/Anaplan" id="Id1">Anaplan Model Manager</option> 
          <option value="http://localhost:4200/Salesforce" id="Id2">SFDC Object Manager</option>
        </select>
  </span>

  <input type="search" class="searchbar" (keyup)="applyFilter($event.target.value)" placeholder=" Search" />
</mat-toolbar>
<br />

<div class="breadcrumbs">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
      <li class="breadcrumb-item"><a routerLink=''>Anaplan Sync</a></li>
      <li class="breadcrumb-item active">Align Anaplan data with SFDC</li>
  </ol>
</div>
<a routerLink="AnaplanJobs">
  <mat-icon>settings</mat-icon>
</a>
<mat-icon (click)="openDialog()">border_color</mat-icon>

<br />
<div class="table-panel">
  <div class="table-scroll">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>

        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
          </mat-checkbox>

          <!-- <div class="container" ng-app="">
            <textarea id="myTextArea" ng-hide="isHidden">MY TEXT</textarea>
            <br> -->
          
            <!-- <span class="glyphicon" ng-class="isHidden ? 'glyphicon-chevron-down' : 'glyphicon-chevron-up'" ng-click="isHidden = !isHidden;">
            </span> -->
            <!-- <mat-icon class="mat-icon-rtl-mirror" svgIcon="keyboard_arrow_right"></mat-icon> -->
          
          <!-- </div> -->
          <i class="collapsed-show material-icons">keyboard_arrow_right</i>
        </td>
      </ng-container>

      
      
      
      <!-- <mat-icon (click)="collapsed=false">keyboard_arrow_up</mat-icon> --> 

      <ng-container matColumnDef="Label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LABEL</th>
        <td mat-cell *matCellDef="let element">{{ element.Label }}
        </td>
      </ng-container>

      <ng-container matColumnDef="API_Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>API NAME</th>
        <td mat-cell *matCellDef="let element">{{ element.API_Name }}</td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>DESCRIPTION</th>
        <td mat-cell *matCellDef="let element">{{ element.Description }}</td>
      </ng-container>

      <ng-container matColumnDef="sync">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LAST SYNC</th>
        <td mat-cell *matCellDef="let element">{{ element.sync }}</td>
      </ng-container>

      <ng-container matColumnDef="Deployed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DEPLOYED</th>
        <td mat-cell *matCellDef="let element">{{ element.Deployed }}</td>
      </ng-container>


      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <table id="childTable" mat-table [dataSource]="datasources1" class="mat-elevation-z8" width="100%">

              <ng-container matColumnDef="Global_VP">
                <th mat-header-cell *matHeaderCellDef>Global VP</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Global_VP}} </td>
              </ng-container>

              <ng-container matColumnDef="Geo_VP">
                <th mat-header-cell *matHeaderCellDef>Geo VP</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Geo_VP}} </td>
              </ng-container>

              <ng-container matColumnDef="Sub_Region">
                <th mat-header-cell *matHeaderCellDef>Sub Region</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Sub_Region}} </td>
              </ng-container>

              <ng-container matColumnDef="Sales_Rep_Role">
                <th mat-header-cell *matHeaderCellDef>Sales Rep Role</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Sales_Rep_Role}} </td>
              </ng-container>

              <ng-container matColumnDef="Tensor_flow_Quota">
                <th mat-header-cell *matHeaderCellDef>Tensorflow Quota</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Tensor_flow_Quota}} </td>
              </ng-container>

              <ng-container matColumnDef="Final_Quota">
                <th mat-header-cell *matHeaderCellDef>Final Quota</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Final_Quota}} </td>
              </ng-container>

              <ng-container matColumnDef="Bookings_in_Current_Fy">
                <th mat-header-cell *matHeaderCellDef>Bookings in Current Fy</th>
                <td mat-cell *matCellDef="let elem"> {{elem.Bookings_in_Current_Fy}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>
<div class="col text-right">
  <button type="button" class="btn">Sync Now</button>
</div>

