.main-logo {
    height: 32px;
  }
    mat-toolbar{
      background: #185BB2;
      height:70px;
    }
    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      position: absolute;
      width: 179px;
      height: 47px;
      left: 40px;
      top: 10px;
      font-size: 30px;
      line-height: 47px;
      color:#ffffff;
      }
    .searchbar{
        float:right;
        margin-top: 8px;
       margin-right: 16px;
      font-size: 14px;
      height:37px;
      padding:8px;
      width:500px;
      border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0px;
    }
    span{
      width:100%;
      text-align: center; 
      color: white;
      font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
  
    table {
      width: 100%;
      background-color:whitesmoke;
    }
    .table-panel {
      padding-top: 1%;
      margin-left: auto;
      margin-right: auto;
      width: 98%;
    }
    button{
      height:40px;
      width:90px;
   background-color: #185BB2;
   color: white;
   margin-top:380px;
  }
   
    th{
      text-align: center;
      font-size: 12px;
      color: #fff;
      background-color:grey;
    }
    
    td{
      font-size: 12px;
      height: 10px;
    }
    .mat-elevation-z8 {
      box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .12), 0 1px 1px 1px rgba(0, 0, 0, .14), 0 1px 1px 1px rgba(0, 0, 0, .12);
    }
    th.mat-sort-header-sorted {
      color: black;
    }
    ::-webkit-scrollbar {
      width: 8px;
    } 
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #98AFC7; 
    } 
    ::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 6px #98AFC7; 
    }
    .breadcrumbs{
      margin-left: auto;
      margin-right: auto;
      height:40px;
      background-color: none;
      padding-left: 20px;
  
    }