/* .heading {
  text-align: center;
}

.main-logo {
  height: 32px;
}


mat-toolbar {
  background: #185BB2;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  height: calc(100vh - 80px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box {
  border: 4px solid #185BB2;
  border-radius: 5px;
  margin: auto;
  padding: 40px;
  padding-left: 20px;
  height: 300px;
  width: 400px;
}

mat-icon {
  padding: 5px;
} */
.logo{
  font-family: Roboto;
font-style: normal;
font-weight: bold;
position: absolute;
width: 179px;
height: 47px;
left: 40px;
top: 16px;
font-size: 40px;
line-height: 47px;
color: #185BB2;
}
mat-toolbar{
  height:90px;
}
.main{
  position: absolute;
width: 1400px;
height: 320px;
left: 0px;
top: 90px;
background: rgba(24, 91, 178, 0.7);
}
img{
  position: absolute;
  width: 194px;
  height: 43px;
  left: 615px;
  top: 25px;
}
.heading{
  position: absolute;
width: 788px;
height: 60px;
left: 400px;
top: 30px;
font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 50px;
line-height: 77px;
color: #ffffff;
}
.Image1{
  position: absolute;
width: 64px;
height: 64px;
left: 235px;
top: 150px;
color:#ffffff;
}
.content1{
position: absolute;
width: 301px;
height: 63px;
left: 107px;
top: 200px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #ffffff;
}
.Image2{
  position: absolute;
width: 70px;
height: 70px;
left: 698px;
top: 150px;
color:#ffffff;
}
.content2{
  position: absolute;
  width: 319px;
  height: 63px;
  left: 540px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.Image3{ 
position: absolute;
width: 44px;
height: 44px;
left: 1183px;
top: 150px;
color:#ffffff;
}
.content3{
  position: absolute;
width: 319px;
height: 63px;
left: 1030px;
top: 200px;
font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
color:#ffffff;
}
.section{
  position: absolute;
width: 1440px;
height: 400px;
left: 0px;
top: 90px;
}
p{
  position: absolute;
width: 200px;
height: 11px;
left: 40px;
top: 350px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 16px;
color: #2E2E2E;
}
.sales{
position: absolute;
width: 120px;
height: 120px;
left: 547px;
top: 480px;
background: #E5E5E5;
}
.head{
  position: absolute;
width: 88px;
height: 11px;
left: 10px;
top: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 14px;
color: #2E2E2E;
}
.para{
position: absolute;
width: 112px;
height: 10px;
left: 5px;
top: 50px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 9px;
/* identical to box height */
text-align: center;

color: #2E2E2E;
}
.border{
  position: absolute;
width: 120px;
height: 10px;
left: 547px;
top: 600px;
background: #00A1E0;
}
.salesforce{ 
position: absolute;
width: 32px;
height: 32px;
left: 20px;
top: 70px;
}
.Anaplan{
  position: absolute;
width: 120px;
height: 120px;
left: 683px;
top: 480px;
background: #E5E5E5;
}
.head1{
position: absolute;
width: 88px;
height: 11px;
left: 20px;
top: 30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
color: #2E2E2E;
}
.para1{ 
position: absolute;
width: 112px;
height: 10px;
left: 5px;
top: 50px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 8px;
line-height: 9px;
text-align: center;
color: #2E2E2E;
}
.brdr{
  position: absolute;
width: 120px;
height: 10px;
left: 683px;
top: 600px;
background: #0A2064;
}
.anp{
  position: absolute;
width: 56px;
height: 28px;
left: 10px;
top: 75px;
}